.noticiaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.noticia {
  display: flex;
  padding: 0px 0px;
  background-color: rgba(243, 243, 243, 0);
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.181);
}
.noticiaImage {
  background-color: rgb(166, 166, 166);
  width: 400px;
  height: 240px;
}
.noticiaImageDetail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noticiaContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;

  width: 50%;
}
.noticiaContent h2 {
  width: 100%;
  padding-bottom: 15px;
  margin: 0px;
  font-size: 2rem;
  font-family: "NotoSerifBold", serif;
  font-weight: 700;
}
.noticiaContent .fecha {
  padding-top: 5px;
  color: rgb(148, 148, 148);
}
.noticiaContent p {
  margin: 0px;
  font-family: "NotoSerifRegular", serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.noticiaDetail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.noticiaDetail {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.139);
}
.noticiaDetailContent {
  padding: 20px;
  padding-bottom: 50px;
}
.noticiaDetailHeader {
  background-color: rgba(255, 255, 255, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.noticiaDetailHeader h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "NotoSansBold", serif;
  font-weight: 700;
}
.noticiaDetailHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 2rem;
}
.noticiaDetailHeader button:hover {
  background-color: rgba(128, 128, 128, 0.537);
  cursor: pointer;
}
.imgNoticiaContainer {
  height: 500px;
  width: 100%;
  background-color: rgb(183, 183, 183);
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .noticia {
    flex-direction: column;
  }
  .noticiaContent {
    padding: 20px 20px;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .noticiaContent p {
    padding-bottom: 20px;
  }
  .noticiaContent .fecha {
    padding-bottom: 0px;
  }
  .noticiaImage {
    width: 100%;
  }
}
