---
import { Image } from "astro:assets";
import logoBienvenido from "../assets/logoBienvenido.png";
const { lang } = Astro.props;
const translations = await import(`../i18n/locales/${lang}/translation.json`);
---

<>
  <div class="footerContainer">
    <div class="derechos">
      <div>
        <div class="logoFooterContainer">
          <Image
            src={logoBienvenido}
            alt="logo"
            width={1000}
            class="logoFooter"
          />
        </div>
      </div>
      <div class="derechosText">
        <h4>capitalagribusiness.com</h4>
        <p>{translations.footer_derechos}</p>
      </div>
    </div>

    <div class="contacto">
      <h4>advisory@capitalagribusiness.com</h4>
      <p>
        {translations.footer_derechos2}
      </p>
    </div>
  </div>
  <div class="espaciado">Desarrollado por TAPE Producciones</div>
</>

<style>
  .footerContainer {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  .derechos {
    display: flex;

    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #f4f4f4;
  }
  .derechosText {
    font-family: "NotoSansRegular", serif;
    font-weight: 400;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
  }
  .derechosText h4 {
    margin: 0px;
    padding: 0px;
    padding-bottom: 7px;
    font-size: 1rem;
    opacity: 0.4;
  }
  .derechosText p {
    margin: 0px;
    padding-bottom: 20px;
    font-size: 0.7rem;
    opacity: 0.4;
  }

  .logoFooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    padding-right: 20px;
    padding-left: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.265);
  }
  .logoFooter {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.2;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 50%;
    height: 100%;
    background-color: #f4f4f4;
    font-family: "NotoSansRegular", serif;
    font-weight: 400;
  }
  .contacto h4 {
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
    font-family: "NotoSansBold", serif;
    font-weight: 700;
  }
  .contacto p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    width: 95%;
    opacity: 0.4;
  }
  .espaciado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    color: rgba(255, 255, 255, 0.361);
    font-family: "NotoSansBold", serif;
    font-weight: 700;
  }
  @media screen and (max-width: 1052px) {
    .logoFooterContainer {
      width: 80px;
    }
    .derechosText {
      justify-content: center;
      padding-left: 10px;
    }
    .derechosText h4 {
      font-size: 0.7rem;
    }
    .derechosText p {
      font-size: 0.6rem;
      padding-bottom: 0px;
    }
    .contacto h4 {
      font-size: 0.8rem;
    }
    .contacto p {
      font-size: 0.5rem;
    }
  }
  @media screen and (max-width: 768px) {
    .footerContainer {
      width: 100%;
      flex-direction: column-reverse;
      height: fit-content;
    }
    .contacto {
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
    }
    .derechos {
      width: 100%;
      padding-bottom: 20px;
    }
    .logoFooterContainer {
      padding-left: 12px;
    }
  }
</style>
