---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { FaRegCheckCircle } from "react-icons/fa";

import icon1 from "../../assets/icon1.png";
import icon2 from "../../assets/icon2.png";
import icon3 from "../../assets/icon3.png";
import icon4 from "../../assets/icon4.png";
import icon5 from "../../assets/icon5.png";
import icon6 from "../../assets/icon6.png";
import icon7 from "../../assets/icon7.png";
import icon8 from "../../assets/icon8.png";
import VideoSequencer from "../../components/VideoSequencer";

const items = [
  {
    title: "ASESORAMIENTO EN MERCADOS FINANCIEROS",
    icon: icon1,
    description:
      "Asesoramiento sobre el mercado financiero local y global. Asesoramiento en inversiones tácticas y estratégicas. Administración de portafolios de inversión. Análisis de fondos de inversión, tanto mutuos como de inversiones alternativas. Administración de fondos de inversión.",
  },
  {
    title: "FINANCIACIONES",
    icon: icon2,
    description:
      "Obtención de financiamiento a través del ecosistema del mercado de capitales:  Cauciones bursátiles. Cheques de pago diferido (avalados por SGR o bancarios), garantizados y no garantizados. Pagarés bursátiles. Facturas de crédito electrónica.",
  },
  {
    title: "SERVICIOS TRANSACCIONALES Y CASH MANAGEMENT",
    icon: icon3,
    description:
      "Asesoramiento para operar en el ecosistema financiero, bancario y de inversiones. Asesoramiento y administración de liquidez y flujos monetarios.",
  },
  {
    title: "BANCA DE INVERSIÓN / INVESTMENT BANKING",
    icon: icon4,
    description:
      " Fusiones y adquisiciones (M&A): Asesoramiento a empresas en procesos de compra, venta o fusión con otras compañías.  Levantamiento de capital: Asistencia en la obtención de financiamiento mediante la emisión de acciones, bonos u otros instrumentos financieros. Reestructuración financiera: Asesoramiento a empresas en dificultades para reestructurar su deuda o capital.  Valoración de empresas: Determinación del valor de una empresa para diversos fines, como fusiones, adquisiciones o salidas a bolsa.",
  },
  {
    title: "INVERSIONES EN REAL ESTATE / INMOBILIARIAS",
    icon: icon5,
    description:
      "Oportunidades de inversión en el sector inmobiliario. Compra, venta, alquiler y desarrollo de propiedades con el objetivo de generar ganancias a través de la apreciación del valor o la renta obtenida por los alquileres.  Inversión financiera respaldada por activos inmobiliarios.",
  },
  {
    title: "PRODUCTOS ESTRUCTURADOS DE INVERSIÓN",
    icon: icon6,
    description:
      "Armado de productos financieros diseñados para incrementar la rentabilidad y acotar los riesgos, mejorando y optimizando la relación riesgo/beneficio.",
  },
  {
    title: "ESTRUCTURAS LEGALES ALTERNATIVAS DE INVERSIÓN Y PLANIFICACIÓN",
    icon: icon7,
    description:
      "Fideicomisos. Planificación financiera. Planificación sucesoria.",
  },
  {
    title: "COACHING / CONSULTORÍA EMPRESARIAL & TRANSMISIÓN GENERACIONAL",
    icon: icon8,
    description:
      "A través de una visión empresarial holística, abordamos el complejo sistema que integra a los accionistas y sus familias, el producto, el management y control, los empleados y el staff de asesores.",
  },
];

import video1 from "../../../public/videos/01 Identificación fases del mercado.mp4";
import video2 from "../../../public/videos/02 Análisis de tendencias.mp4";
import video3 from "../../../public/videos/03 Tendencia alcista.mp4";
import video4 from "../../../public/videos/04 Reversión de tendencias.mp4";
import video5 from "../../../public/videos/05 Tendencia bajista.mp4";

const videoList = [
  {
    src: video1,
  },
  {
    src: video2,
  },
  {
    src: video3,
  },
  {
    src: video4,
  },
  {
    src: video5,
  },
];
---

<Layout>
  <div>
    <div class="videoContainer">
      <VideoSequencer videos={videoList} client:load />
    </div>

    <div class="servicio">
      <div class="icon">$</div>
      <div class="servicioText">
        <h2>NUESTROS SERVICIOS <br /> EN FINANZAS</h2>
        <h3>Para Individuos, Empresas & Corporaciones.</h3>
      </div>
    </div>

    <div class="itemsContainer">
      {
        items.map((item) => (
          <div class="item">
            <div class="iconContainer">
              <div class="iconItem">
                <Image
                  src={item.icon}
                  alt="logo"
                  width={1000}
                  class="logoItem"
                />
              </div>
            </div>
            <div class="textItem">
              <h2>{item.title}</h2>
              <ul>
                {item.description
                  .split(".")
                  .filter((p) => p.trim() !== "")
                  .map((p) => (
                    <li>
                      {" "}
                      <FaRegCheckCircle />
                      <p>{p.trim()}.</p>
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .videoContainer {
    position: relative;
    height: 400px;
    background-color: rgb(0, 0, 0);
    padding: 20px 50px;
  }

  .servicio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.989) 30%, rgba(0, 0, 0, 0)),
      url(../../assets/finanzas.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    color: white;
    border: 7px solid white;
    margin-left: 300px;
    margin-right: 80px;
  }
  .servicioText {
    padding-left: 30px;
    width: 40%;
  }
  .servicioText h2 {
    font-size: 3.5rem;
    margin: 0px;
    color: white;
    font-family: "NotoSerifRegular", serif;
    font-weight: 400;
    line-height: 1.1;
  }
  .servicioText h3 {
    margin: 0px;
    margin-top: 20px;
    color: white;
    font-family: "NotoSansRegular", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }
  .itemsContainer {
    border-top: 4px solid white;
    padding: 120px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background:
      radial-gradient(at top left, #341223, transparent 35%),
      radial-gradient(at bottom right, #341223, transparent 35%), #7c2c54;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }
  .item {
    display: flex;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
  }
  .iconContainer {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
  }
  .iconItem {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoItem {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .item .textItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
  }
  .item .textItem h2 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    margin: 0px;
    width: 95%;
  }
  .item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .item li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
  }
  .item li p {
    margin: 0px;
    width: 85%;
    font-family: "NotoSansRegular", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
</style>
