---
import Layout from "../../layouts/Layout.astro";
import { FaLeaf } from "react-icons/fa";

const items = [
    {
        title: "Capital",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Finanzas",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Agronegocios",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Asesoramiento",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Inversiones",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Mercados",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Capital",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    },
    {
        title: "Finanzas",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        
    }
    
]
---
<Layout>

    <div>
        <div class="videoContainer">
            <div class="tituloContainer">
                <h1>capital</h1>
            </div>
        </div>
        
        <div class="servicio">
            <div class="icon">
                <FaLeaf />
            </div>
            <div class="servicioText">
                <h2>NUESTROS SERVICIOS <br> EN AGRONEGOCIOS</h2>
                <h3>Para Individuos, Empresas & Corporaciones.</h3>
            </div>
        </div>
        
        <div class="itemsContainer">
            {
                items.map((item) => (
                    <div class="item">
                        <h2>{item.title}</h2>
                        <p>{item.description}</p>
                    </div>
                ))
            }
        </div>
    </Layout>

    <style>
        .videoContainer {
        position: relative;
        height: 400px;
        background-color: red;
    }
    .tituloContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
    }
    .tituloContainer h1{
        margin: 0px;
    }
    .servicio{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: rgb(0, 255, 140);
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        color: white;
        border: 4px solid white;
    }
    .servicioText{
        padding-left: 30px;
        width: 40%;
    }
    .servicioText h2{
        font-size: 3.5rem;
        margin: 0px;
        color: white;

    }
    .servicioText h3{
        margin: 0px;
        color: white;

    }
    .itemsContainer{
        padding: 20px;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background-color: blue;
        box-sizing: border-box;
    }
    .item{
        width: 500px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border: 2px solid black;
        border-radius: 20px;
    }
    </style>